/*---------------------------Header--------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 60px;
    background-color: #344051;
    color: #fff;

}

.logo {
    float: left;
    margin-left: 390px;
    line-height: 60px;
    font-size: 28px;
}

.menu {
    float: left;
    margin-left: 430px;
}

.menu li {
    float: left;
    margin-right: 40px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 16px;
}

/*---------------------------Привет--------------------------------*/
.main {
    height: calc(100% - 60px);
    background: url(../img/1/Парень.png) 90% 100% /auto 800px no-repeat, url(../img/1/фон.png) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 433px 0 0 400px;
    text-align: center;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
    color: #2c384a;
}

.title_container h4 {
    margin-top: 43px;
    font-weight: bold;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 13px;
    margin: 60px 14px;

}

/*---------------------------Обо мне--------------------------------*/
.obo_mne {
    width: 100%;
    height: 720px;
    background: url(../img/2/фотка.png) center/ 200px 200px no-repeat, url(../img/2/Фоновый\ слой.png) center/cover;
    box-shadow: 0 -3px 30px #6d7682;
}

.obo_mne h2 {
    font-size: 26px;
    font-weight: bold;
    color: #344051;
    padding: 110px 0 0 894px;
    ;
    text-transform: uppercase;
}

.obo_mne hr {
    width: 75px;
    height: 3px;
    background-color: orange;
    margin: 34px 0 0 920px;
}
.obo_mne .p {
    width: 700px;
    margin: 350px 0 0 600PX;
}

.obo_mne input {
    height: 35px;
    text-align: center;
    border: 2px solid rgb(111 113 127);
    background: url(../img/2/dowload.png) 10px 10px/13px 13px no-repeat;
    color: #6d7682;
    font-size: 13px;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    margin: 40px 0 0 290px;
}

/*---------------------------Что я умею--------------------------------*/
.chto_ya_ymeu {
    height: 523px;
    background: url(../img/3/картинка\ фона.png) center/ cover no-repeat;
}

.chto_ya_ymeu h2 {
    font-size: 26px;
    font-weight: bold;
    color: #344051;
    padding-top: 110px;
    text-align: center;
    text-transform: uppercase;
}

.chto_ya_ymeu hr {
    width: 75px;
    height: 3px;
    background-color: orange;
    margin: 34px 0 0 915px;
}

.chto_ya_ymeu ul {
    text-align: center;
    height: 172px;
}

.chto_ya_ymeu li {
    display: inline-block;
    width: 220px;
    text-align: center;
    margin: 100px 0 0 100px;
    vertical-align: top;
}

.chto_ya_ymeu .p {
    color: rgb(232 126 0);
    margin: 37px 0 20px 0;
    font-weight: bold;
    font-size: 13px;
}

/*---------------------------Кейсы--------------------------------*/
.keisi {
    height: 1056px;
    background: url(../img/4/фотка.png) 0px 160px /auto no-repeat;
}

.keisi h2 {
    margin-top: 100px;
    font-size: 26px;
    font-weight: bold;
    color: #344051;
    text-align: center;
    text-transform: uppercase;
}

.keisi hr {
    width: 70px;
    height: 3px;
    background-color: orange;
    margin: 30px 0 0 915px;
}

.keisi>p {
    text-align: center;
    font-size: 13px;
    color: #344051;
    margin-top: 36px;
}

.keisi_knopka{
    float:left;
    width:284px;
    margin:673px 0 0 392px;
}

.keisi_knopka h5{
    text-transform: uppercase;
    font-weight: bold;
    font-size:21px;
}

.keisi_knopka p{
    margin:17px 0;
}

.keisi_text{
    width:850px;
    margin:673px 0 0 675px;
}

.keisi_text h4{
    font-size: 20px;
    font-weight: bold;
}

.keisi_text p{
    line-height: 27px;
    margin-top:5px;
}
.keisi_knopka input{
    width:200px;
    height:50px;
    color:#fff;
    background-color: rgb(0 182 175);
    border-radius: 5px;
    font-size:16px;
    text-transform:uppercase;
}
/*---------------------------Расчёт стоимости--------------------------------*/
.raschet{
    height:950px;
}
.raschet h2 {
    margin-top: 200px;
    font-size: 26px;
    font-weight: bold;
    color: #344051;
    text-align: center;
    text-transform: uppercase;  
}
.spiski{
    width:900px;
    height:510px;
    margin:60px 0 0 500px;
}
.spiski h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:25px;
}
select{
    width:900px;
    height:60px;
    background-color: rgb(238 238 238);
    border-radius:2px;
    font-size:13px;
    font-weight: bold;
    color:rgb(162 162 162);
    margin-bottom:50px;
}
.raschet select:last-of-type{
    margin:0 0 40px 0;
}
.spiski hr{
    border:1px solid rgb(210 210 210);
}
.spiski pre{
    font-size:20px;
    font-weight: bold;
}
/*---------------------------Немного стастики--------------------------------*/
.stat{
    
height: 500px;
background: url(../img/6/фон.png) center/ cover no-repeat;
}

.stat h2 {
    font-size: 26px;
    font-weight: bold;
    color: #344051;
    padding-top:100px;
    text-align: center;
    text-transform: uppercase;
}

.stat hr {
    width: 75px;
    height: 3px;
    background-color: orange;
    margin: 34px 0 0 920px;
}
.stat ul{

margin-left:300px;
}
.stat li{
    display:inline-block;
    width:175px;
    margin:90px 0 0 120px;                               /* Как сделать что бы они равномерно распределились по ширине страницы?*/
    text-align: center;
}
.stat .cifri{
    font-size: 30px;
    font-weight:900;
    margin:25px 0;
}.stat p{
    color:#344051;
    font-size:13px;
    text-transform: uppercase;
}
/*---------------------------Отзывы--------------------------------*/
.otzivi{
    text-align: center;
    height:600px;
    background: url(../img/7/фотка.png) center/auto no-repeat;
}
.otzivi h2 {
    font-size: 26px;
    font-weight: bold;
    color: #344051;
    padding-top:110px;
    text-align: center;
    text-transform: uppercase;
}
    
.otzivi hr {
    width: 75px;
    height: 3px;
    background-color: orange;
    margin: 34px 0 0 920px;
}   
.text_otzivi {
    text-align: center;
    width:700px;
    margin:200px 0 0 620px;
    color:#344051;
} 
.text_otzivi p:last-child{
    margin-top:40px;
    font-size:13px;
}
/*---------------------------Мои контакты--------------------------------*/
footer{
    height:810px;
    text-align: center;
    background: url(../img/8/fon.png) center/auto no-repeat;
    color:#fff;
}
footer h2 {
    font-size: 26px;
    font-weight: bold;
    color: #344051;
    padding-top:110px;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
}
    
footer hr {
    width: 75px;
    height: 3px;
    background-color: orange;
    margin: 34px 0 0 920px;
}
footer li{
    display:inline-block;
    vertical-align: top;
    margin:50px 100px;
    
}
footer h3{
    text-transform: uppercase;
    margin-bottom:45px;
    font-size: 20px;
    
}
.polya{
    width:735px;
    margin:0 0 100px 600px;
}
.polya input{
    width:350px;
    height:35px
}
