body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 60px;
    background-color: #344051;
    color: #fff;

}

.logo {
    float: left;
    margin-left: 390px;
    line-height: 60px;
    font-size: 28px;
}

.menu {
    float: left;
    margin-left: 430px;
}

.menu li {
    float: left;
    margin-right: 40px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 16px;
}

.main {
    height: calc(100% - 60px);
    background: url(../img/1/Парень.png) 90% 100% /auto 800px no-repeat, url(../img/1/фон.png) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 433px 0 0 400px;
    text-align: center;
}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
    color: #2c384a;
}

.title_container h4 {
    margin-top: 43px;
    font-weight: bold;
    color: #79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 13px;
    margin: 60px 14px;
}
.obo_mne{
    height:720px;
    text-align:center;
    background: url(../img/2/фотка.png) center/ 200px 200px no-repeat, url(../img/2/Фоновый\ слой.png) center/cover ;
}
.text_obomne h2 {
    font-size:30px;
    font-weight: bold;
    
}
.text_obomne hr{
    width:100px;
    size:3px;
}
